@font-face {
   font-family: 'fancy-cursive';
   src: local('fancy-cursive'), url(./fonts/fancy-cursive.ttf) format('truetype');
}

.App {
  text-align: center;
}
.container {
  overflow: hidden;
}

/*  NAV
    
    TODO:
    create a media query for mobile devices
*/
.nav {
  display:flex;
  position: fixed;
  top:0;
  left:0;
  height:70px;
  width:100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navScrolled {
  display:flex;
  position: fixed;
  top:0;
  left:0;
  height:70px;
  width:100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(255, 255, 255, .9);
  border-bottom: 3px solid #ebc6c6;
}

.nav-tab {
  display: flex;
  padding: 0px 20px;
}
.nav-tab a {
  text-decoration: none !important;
}
.nav-tab-text {
  border: 0;
  color: #263238;
  font-size: 17px;
  font-weight: 600;

  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1.1);
  animation-duration: 0.8s;
  animation-name: hometext;
}

@media (max-width: 385px) {
  .nav-tab-text {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media (max-width: 320px) {
  .nav-tab-text {
    font-size: 12px;
  }
}


.nav-tab-text:hover {
  font-weight: 700;
  color: #2d2e21;
}
.nav-tab-text:focus {
  color:#2d2e21
}


/*  HOME
    
    TODO:
*/

.home-backdrop {
  background-image: url("/kdcover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:90vh;
  top:0;
}

.home-backdrop-tint {
  position: absolute;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.4); 
  background: -webkit-linear-gradient(#ebc6c6,rgba(0, 0, 0, 0.4) );
  background: linear-gradient(rgba(235, 198, 198, 0.5), rgba(0, 0, 0, 0.5) 30%); /* The least supported option. */
  width: 100%;
  height: 90vh;   
}
.home-backdrop-text{
  margin:0px;
  padding:0px;
  position: absolute;
  top: 150px;
  left: 70px;
  text-align: left;

  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1.1);
  animation-duration: 0.8s;
  animation-name: hometext;
}




.home-backdrop-text p#tagline {
  font-weight: 800;
  color: #fff;
  font-size: 30px;
  margin: 0;
}
.home-backdrop-text p#names {
  font-family: fancy-cursive;
  font-size: 60px;
  color:#fff;
  margin: 0;
}
.home-backdrop-text p#date {
  font-size: 20px;
  font-weight: 700;
  color:#fff;
}
.home-backdrop-text p#names span {
  color: #ebc6c6;
}
.home-backdrop-text p#date span#datetext {
  margin: 10px;
}

@media (max-width: 830px) {
  .home-backdrop-tint {
    display:none;   
  }
}
.home-backdrop-tint-sm {
  display:none;
} 

 @media (max-width: 829px) {
  .home-backdrop-tint-sm {
    display:block;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.4); 
    background: -webkit-linear-gradient(#ebc6c6,rgba(0, 0, 0, 0.4) );
    background: linear-gradient(rgba(235, 198, 198, 0.5), rgba(0, 0, 0, 0.5) 30%); /* The least supported option. */
    width: 100%;
    height: 100vh;   
  }
  .home-backdrop {
    background-image: url("/kdcover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    top:0;
  }
  .home-backdrop-text{
    margin:0px;
    padding:0px;
    position: absolute;
    top: 150px;
    left: 50px;
    text-align: left;
  }

  .home-backdrop-text p#tagline {
    font-weight: 800;
    color: #fff;
    font-size: 30px;
    margin: 0;
    line-height: 1;
  }
  .home-backdrop-text p#names {
    font-family: fancy-cursive;
    font-size: 40px;
    color:#fff;
    margin: 0;
    margin-top:20px;
  }  
} 

@media (max-height: 690px) {
  .home-backdrop-text {
    top: 100px;
  }
}
@media (max-width: 350px) {
  .home-backdrop-text {
    left: 30px;
  }
  .home-backdrop-text p#tagline {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    margin: 0;
    line-height: 1;
  }
  .home-backdrop-text p#names {
    font-family: fancy-cursive;
    font-size: 30px;
    color:#fff;
    margin: 0;
    margin-top:20px;
  } 
}


/* Reschedule Info */
.reschedule-info {
  background-color: #fff;
  padding: 110px 3em 40px 3em;
  margin-top: -50px;
}
.reschedule-info h2 {
  padding-bottom: 20px;
}
.reschedule-info-text {
  justify-content: space-around;
  color: #000;
  line-height: 1.9;
}





/* COUNTDOWN TIMER */

.countdown {
  max-height: inherit;
  height: 460px;
  background-color: #ebc6c6;
  width:100%;
  transform: skewY(3deg);
  overflow: none;
  margin-top: -45px;
}

.countdown .subheading#old {
  font-family: fancy-cursive;
  transform: skewY(-3deg);
  font-size: 22px;
  text-decoration: line-through;
}
.countdown #new {
  transform: skewY(-3deg);
  font-family: fancy-cursive;
  padding-top: 15px;
}
.countdown-times {
  display: flex;
  flex-direction:  row;
  justify-content: center;
  padding: 30px;
  transform: skewY(-2deg);
}
.countdown-times div {
  margin: 0px 0px;
  border: 1px solid #fff;
  padding: 10px;
  width: 160px;
}
.countdown-number {
  font-size: 5vw;
  font-weight: 700;
  color: #fff;
  margin: 0px;
}
.countdown-label {
  font-family: fancy-cursive;
  font-size: 30px;
  margin: 0px;
  color: #fff;
}
.countdown-subheading {
  margin-top: 10px;
  font-size: 20px;
  transform: skewY(-2deg);
}

@media (max-width: 550px) {
  .countdown {
    height: 400px;
  }
}

/* ABOUTIMG */
.about-img {
  padding: 30px 0px; 
  margin-top: 40px; 
  background-color: #f8f7f5;
}
.person-img {
  max-width: 100%;
}
.about-img-people {
  display: flex;
  flex-direction: row;
  flex: wrap;
}
@media (max-width: 600px) {
  .about-img-people {
      flex-direction: column;    
  }
}

.about-img-container {
  padding: 30px;
}
.about-img-person {
  flex: 1;
}
.about-img-person .person-role {
  font-size: 56px;
  font-family: fancy-cursive;
  margin-bottom: 10px;
}
.about-img-person .person-name {
  font-size: 25px;
}

/* MOREINFO */

.more-info-container {
  background-color: #edc6c6;
  padding: 50px;
}
.more-info-container a {
  text-decoration: none;
}
.more-info-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 600px) {
  .more-info-items {
      flex-direction: column;    
  }
}
.more-info-item {
  padding: 30px;
}
.more-info-item-elements {
  display: flex;
  flex-direction: column;
}
.more-info-heading {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #000;
}
.more-info-subheading {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}
.more-info-btn {
  border: 2px solid #fff;
  background-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 30px;
}
.more-info-btn p{
  text-decoration: none !important;
  color: #fff;
}
.more-info-btn:hover {
  background-color: #fff;
  cursor: pointer;
}
.more-info-btn:hover p {
  color: #000;
}

.bottom-icon {
  background-image: url('/bottom_icons_frame.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.bottom-icon img {
  vertical-align: 0;
  border: 0;
}

.iconBounce {
  animation-iteration-count: infinite;
  animation-name: iconBounce;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes iconBounce{
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* FOOTER */

.footer-container {
  background-color: #2d2e21;
  padding: 100px;
}
.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-item {

}
.footer-item p {
  font-size: 20px;
  font-weight: 900;
  color: #d68f8f;
}


/* WEDDING */

.events {
  display: flex;
  flex-direction: row;
  flex:1;
  padding: 30px;
}
@media (max-width: 980px) {
  .events {
      flex-direction: column;    
  }
}
.event {
  flex:1;
  border:4px solid #ebc6c6;
  margin: 40px;
}

.event-title {
  background-color: #ebc6c6;
  padding: 20px;
  font-size: 30px;
  font-weight: 900;
}
.event-info {
  padding: 30px;
}
.event-time {
  font-size: 50px;
  font-family: fancy-cursive;
}
.event-timing {
  padding: 20px;
  flex: 1;
}
.event-timings {
  display: flex;
  flex-direction: row;
}
@media (max-width: 630px) {
  .event-timings {
      flex-direction: column;    
  }
}
.event-info-details {
  padding: 20px;
}
.event-info-details p, .event-info-details a {
  margin: 0px;
}
.event-timing p, .event-timing a {
  margin: 0px;
}
.event-location {
  margin: 0 auto;
  padding-bottom: 50px;
  max-width: 1000px;
}
@media (max-width: 500px) {
  .event {
      margin:0px;   
      margin-top: 10px; 
      margin-bottom:20px;
  }
  .event-location {
    margin: 0px 25px 100px 25px;
  }  
}
.event-location-name {
  font-size: 20px;
  font-weight: 600;
}


/* GENERAL */

.general-hr {
  width: 100%;
}
.subheading {
  margin: 0px;
  padding-top: 50px;
  font-size: 30px;
  font-weight: bold;
}
.sub-backdrop {
  display: flex;
  height: 55vh;
  background-image: url('/hdr2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  align-items: center;
  justify-content: center;
}
.sub-backdrop-tint {
  position: absolute;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.4); 
  background: -webkit-linear-gradient(#ebc6c6,rgba(0, 0, 0, 0.4) );
  background: linear-gradient(rgba(235, 198, 198, 0.5), rgba(0, 0, 0, 0.5) 30%); /* The least supported option. */
  width: 100%;
  height: 55vh;  
}
.sub-backdrop-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;

}
.sub-backdrop-item > p {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 1, 0.5, 1.1);
  animation-duration: 0.8s;
  animation-name: hometext;
}
.sub-backdrop-item-contact {
  margin-top: 40px;
  border: 2px solid #ebc6c6;
}
.sub-backdrop-item-contact > p {
  color: #ebc6c6;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}


/* GUEST INFO */

.guestinfo-elements {
}

.guestinfo-element {
}

.guestinfo-element#accomodations {
  padding: 30px;
  background-color: #ebc6c6;
}
.guestinfo-element#transportation {
  padding: 30px;
  background-color: #ebc6c6;
}
.guestinfo-element#explorecanmore {
  padding: 30px;
  background-color: #fff;
}

.guestinfo-title p {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 30px;
}

.guestinfo-details {
  display: flex;
  flex-direction: row;
}
.guestinfo-details-img {
  flex: 1;
}
.guestinfo-details-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: 400;
}
.guestinfo-details-img img {
  max-width: 80%;
}
.guestinfo-details-text ul > li {
  text-align: left;
  padding:10px;
}
.guestinfo-details-text > ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.guestinfo-details-text > #transpo {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

@media (max-width: 1000px) {
  .guestinfo-details {
      flex-direction: column;
  }
  .guestinfo-element {
  }  

  .guestinfo-elements {
  } 
  .guestinfo-details-text {
    padding: 10px;
  }
}
@media (max-width: 1100px) {
  .guestinfo-details-text > ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}


/* Registry */

.registry-container {
  padding: 30px;
}
.registry-container > div {
  margin-bottom: 30px;
}

/* RegistryItem */

.registryitem-container {
  display: flex;
  flex-direction: row;
  border: 2px solid #ebc6c6;
  border-radius: 10px;
  width:80%;
  margin:0 auto;
  align-items: center;  
}
.registryitem-container > div {
  flex:1;
}
 .registryitem-container-check {
  flex: .5 !important;
} 
.registryitem-container-img {
  border-right: 3px solid #ebc6c6;
  flex: .5 !important;
  padding: 0px 20px;
}
.registryitem-container-img > img {
  width: 200px;
  max-height: 300px;
}
.registryitem-container-abt {
  flex: 1;
  flex-direction: column;
}
.registryitem-container-abt p:nth-child(1)  {
  font-weight: bold;
}

@media (max-width: 870px) {
  .registryitem-container {
    width: 100%;
  }
  .registryitem-container-img > img {
    max-width: 120px;
  }
  .registryitem-container-img {
    border-right: 3px solid #ebc6c6;
    flex: 1 !important;
    padding: 0px 20px;
  }  
  .registryitem-container-abt {
    flex: 2 !important;
    flex-direction: column;
  }  
}


@keyframes hometext {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}